#!/bin/bash -l
#SBATCH -p $QUEUE
#SBATCH -N 1
#SBATCH -t $WALL_CLOCK
#SBATCH -A $ACCOUNT
#SBATCH -q $QOS
#SBATCH --ntasks-per-node 1
#SBATCH --cpus-per-task $CPUS
#SBATCH -J glide_$USER_NAME

MB=$(( 4096*$CPUS ))

# removed  -N $NODE_COUNT
# removed  -J $NODE_SET
# NEW 
# srun $LOCAL_SCRATCH/configs/$GENERATED_ALLOCATE_SCRIPT $CPUS $MB
srun $LOCAL_SCRATCH/$CONFIGURATION_ID/configs/$GENERATED_ALLOCATE_SCRIPT $CPUS $MB


